.card-link {
  color: black;
  &:hover {
    text-decoration: none;
    color: #1d2124;
    text-shadow: -2px 2px 2px lightgray;
    img {
      box-shadow: -5px 5px 5px lightgray;
    }
  }
  img {
    border-radius: 100%;
  }
  a {
    color: black;
  }

}

#sidebar-wrapper {
  top: 80px;
  left: -200px;
  width: 200px;
  background-color: #17a2b8;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}

.sidebar-nav {
  position: absolute;
  top: 5px;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
  li {
    text-indent: 20px;
    line-height: 50px;
    &:active, &:focus {
      text-decoration: none;
    }
    ul{
      list-style:none;
      li{
        a {
          color: white;
          display: block;
          text-decoration: none;
          &:hover {
            background: rgba(255, 255, 255, 0.25);
            color: white;
            text-decoration: none;
          }

        }
      }
    }
    a {
      color: white;
      display: block;
      text-decoration: none;
      &:hover {
        background: rgba(255, 255, 255, 0.25);
        color: white;
        text-decoration: none;
      }
      &:active, &:focus {
        text-decoration: none;
      }
    }
  }
}

#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}


@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
  #content{
    margin-left: 190px;
    margin-bottom: 80px;
  }
}

.pdfdownload {
  width: 250px;
  display: inline-block;
  position: relative;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: darkgray;
  color: white;
  text-decoration: none; /*remove underline */
  font-size: 0.9em;
  text-align: center;
  text-indent: 18px;
  &:hover{
    background-color: mediumaquamarine ;
  }
  &:before, &:after{
    content: ' ';
    display: block;
    position: absolute;
    left: 15px;
    top: 52%;
  }
  &:before{
    width: 10px;
    height: 2px;
    border-style: solid;
    border-width: 0 2px 2px; /* line below the arrow */
  }
  &:after{
    margin-left: 3px;
    margin-top: -9px;
    border-style: solid;
    border-width: 8px 4px 8 4px;/* arrow dimensions */
    border-color: transparent;
    border-top-color: inherit;
    animation: downloadArrow 1.5s linear infinite;
    animation-play-state: running;
  }
}

@keyframes downloadArrow {

  0% {
    margin-top: -7px;
    opacity: 1;
  }

  0.001% {
    margin-top: -15px;
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#comments .card {
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: none;
  }
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.002);
}

.chip {
  display: inline-block;
  border-radius: 16px;
  font-size: 13px;
  background-color: #eceff1;
  color: rgba(0, 0, 0, 0.7);
  height: initial;
  min-height: 25px;
  line-height: 25px;
  margin-bottom: 0rem;
  margin-right: .5rem;
  padding: 0px 10px;
  box-shadow: 0 1px 1px rgba(128, 128, 128, 0.18);
  font-weight: 600;
}

#comments {
  .children .media .card-block {
    background: rgba(0, 0, 0, 0.02);
    padding: .75rem;
  }
  .media p {
    margin-bottom: .1rem;
  }
}

.hoverable {
  transition: box-shadow .5s;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
  }
}

.cid-qRL1tBino6 {
  background-color: inherit;
  .mbr-section-subtitle {
    color: #767676;
    font-weight: 300;
  }
  .media-container-row {
    word-wrap: break-word;
    word-break: break-word;
    align-items: stretch;
    -webkit-align-items: stretch;
  }
  .card_cont {
    -o-transition: all .5s;
    -ms-transition: all .5s;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    background-color: inherit;
  }
  .card-front {
    z-index: 2;
  }
  .card_back {
    min-height: 230px;
    z-index: 1;
    margin: 0;
    text-align: center;
    overflow: hidden;
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  .card {
    min-height: 230px;
    &:hover {
      .card-front {
        z-index: 1;
        -o-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
      }
      .card_back {
        z-index: 2;
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
      }
    }
  }
  .builderCard .card_cont {
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidd;
    -moz-backface-visibility: visible;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
}